  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Manrope', sans-serif;
}

header{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
#search{
  background-image:url('/icons/search-sm.svg');
  background-repeat:no-repeat;
  background-position: center right;
}
.pop{
  background-color:whitesmoke;
}

.show{
	transform: rotate(45deg);
	position: relative;
	top:5px;
	left: 0px;
}
.showw{
	transform: rotate(-45deg);
	position: relative;
	bottom: 8px;
}
.remove{
	display: none;
}
.showNav{
	transform: translateX(0%);
	transition: all ease-in-out 1s;
}
.hamburger{
  display: flex;
  flex-direction: column;
  height: 15px;
  justify-content: space-between;
  top: 15px;
  left: 4px;
  position: fixed;
  z-index: 999;
}
