@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Manrope', sans-serif;
}

header{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
#search{
  background-image:url('/icons/search-sm.svg');
  background-repeat:no-repeat;
  background-position: center right;
}
.pop{
  background-color:whitesmoke;
}


@media screen and (max-width:768px){
  header{
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    width: 100vw;
    background-color: gray;
    justify-content: space-between;
    align-items: center;
  }
  .mobileNav{
    backdrop-filter: blur(10px);
    z-index: 999;
    transform: translateX(100%);
  }
  .showNav{
    transform: translateX(0%);
  }
  
}
